.login-logo {
    background-color: red;
    width: 100%;
    justify-content: center;
    align-items: center;


    .logo-image {
        max-width: 200px;
    }

    .logo-text {
        max-width: 200px;
    }
}