.image-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 17em;


    .banner-image {
        position: absolute;
        object-fit: cover;
        width: 100vw;
        top: 5em;
        z-index: -1;
        left: 0;
        height: 20em;
    }
}